<%= form_for(@allocation) do |f| %>
  <% if @allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allocation.errors.count, "error") %> prohibited this allocation from being saved:</h2>

      <ul>
      <% @allocation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :phase_id %><br />
    <%= f.number_field :phase_id %>
  </div>
  <div class="field">
    <%= f.label :project_role_id %><br />
    <%= f.number_field :project_role_id %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.number_field :percent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
